{% extends "layout.html" %}
{% block pre_content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-md-6 col-lg-5 col-centered">
            {% endblock %}
            {% block post_content %}
            </div>
        </div>
    </div>
{% endblock %}
