{% extends 'flask_user/_public_base.html' %}
{% block content %}
    {% from "flask_user/_macros.html" import render_field, render_submit_field %}
    <h1>Welcome to Pirates!</h1>
    <p>
        The Pirate Party is a technology-oriented political society, driven by the belief that civil liberties and personal freedoms should take precedence over private and corporate interests. We embrace the ideals of free culture and unrestricted access to information. The society strives to preserve personal privacy and oppose censorship and surveillance. We manage the Trinity VPN, which helps students overcome internet censorship. The Pirate Party also organises regular Hackathons, CTFs (Capture the Flag), and seminars on Ethical Hacking, Privacy, and Cyber-Security.
    </p>
    <hr />
    <h1>{% trans %}Register{% endtrans %}</h1>
    <form action=""
          method="POST"
          novalidate
          formnovalidate
          class="form"
          role="form">
        {{ form.hidden_tag() }}
        {# Username or Email #}
        {% set field = form.username if user_manager.enable_username else form.email %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">
            {# Label on left, "Already registered? Sign in." on right #}
            <div class="row">
                <div class="col-xs-6">
                    <label for="{{ field.id }}" class="control-label">{{ field.label.text }}</label>
                </div>
                <div class="col-xs-6 text-right">
                    {% if user_manager.enable_register %}
                        <a href="{{ url_for("user.login") }}" tabindex='290'>{% trans %}Already registered? Sign in.{% endtrans %}</a>
                    {% endif %}
                </div>
            </div>
            {{ field(class_='form-control', tabindex=210) }}
            {% if field.errors %}
                {% for e in field.errors %}<p class="help-block">{{ e }}</p>{% endfor %}
            {% endif %}
        </div>
        {% if user_manager.enable_email and user_manager.enable_username %}
            {{ render_field(form.email, tabindex=220) }}
        {% endif %}
        <a class='btn btn-primary' href="/user/register/verify_email">Verify Email via Google</a>
        {{ render_field(form.first_name, tabindex=240) }}
        {{ render_field(form.last_name, tabindex=250) }}
        {{ render_field(form.password, tabindex=260) }}
        {% if user_manager.USER_REQUIRE_RETYPE_PASSWORD %}{{ render_field(form.retype_password, tabindex=270) }}{% endif %}
        {{ render_submit_field(form.submit, tabindex=280) }}
    </form>
{% endblock %}
