{% extends "common/admin_base.html" %}
{% block content %}
    {% if renewed %}
        <p>Your account was successfully renewed!</p>
        <p>You can continue using the VPN as usual!</p>
    {% else %}
        <p>Your account was successfully created!</p>
        <p>
            You should have received an email with directions on setting up your VPN account. If you didn't receive it, email info@pirates.ie and we'll sort you out :)
        </p>
    {% endif %}
{% endblock %}
