{% extends "common/admin_base.html" %}  {# common/page_base.html extends layout.html #}
{% block content %}
    <h1>Add/Renew User</h1>
    {% from "common/form_macros.html" import render_field, render_submit_field, render_checkbox_field %}
    <form action="" method="POST" class="form" role="form">
        <div class="row">
            <div class="col-sm-6 col-md-5 col-lg-4">
                {{ form.hidden_tag() }}
                {{ render_field(form.first_name, tabindex=240) }}
                {{ render_field(form.last_name, tabindex=250) }}
                {{ render_field(form.email, tabindex=250) }}
                {{ render_checkbox_field(form.fully_paid) }}
                {{ render_submit_field(form.submit, tabindex=280) }}
            </div>
        </div>
    </form>
{% endblock %}
