{% extends "common/admin_base.html" %}  {# common/page_base.html extends layout.html #}
{% block content %}
    <h1>Admin page</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Server Name</th>
                <th>API Key</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for key in [] %}
                <tr>
                    <td>{{ key.server_name }}</td>
                    <td>****************************</td>
                    <td>
                        <a href="{{ url_for('edit_user', user_id=user.id) }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
