{% extends "common/admin_base.html" %}  {# common/page_base.html extends layout.html #}
{% block content %}
    <h1>Bulk Operations</h1>
    <hr />
    <h3>Annual rollover operations</h3>
    <a class="btn btn-default btn-primary"
       href="{{ url_for("mark_all_unpaid") }}">Mark all users as unpaid</a>
    <br>
    <br>
    <hr />
    <hr />
    <h3>Clearing old user accounts</h3>
    <a class="btn btn-danger btn-primary"
       href="{{ url_for("delete_all_unverified") }}">Delete all users without a verified email</a>
    <br>
    <br>
    <hr />
    <h3>Download email list as CSV</h3>
    <a class="btn btn-default" href="{{ url_for("member_list_csv") }}">Download CSV</a>
    <br>
    <br>
{% endblock %}
