{% extends "common/page_base.html" %}  {# common/page_base.html extends layout.html #}
{% block content %}
    <h1>Are you sure?</h1>
    <p>Deleting all unverified accounts this should usually be done at the end of term.</p>
    <a class="btn btn-danger btn-primary"
       href="{{ url_for('delete_all_unverified', confirm='true') }}">Yes I'm perfectly sure I want to do this.</a>
{% endblock %}
