{% extends "common/page_base.html" %}  {# common/page_base.html extends layout.html #}
{% block content %}
    <h1>Are you sure?</h1>
    <p>Delete user {{ user.email }}?</p>
    {% from "common/form_macros.html" import render_field, render_submit_field, render_checkbox_field %}
    <form action="" method="POST" class="form" role="form">
        <div class="row">
            <div class="col-sm-6 col-md-5 col-lg-4">
                {{ form.hidden_tag() }}
                {{ render_checkbox_field(form.confirm) }}
                {{ render_submit_field(form.submit, tabindex=280) }}
            </div>
        </div>
    </form>
{% endblock %}
