{% extends "common/page_base.html" %}  {# common/page_base.html extends layout.html #}
{% block content %}
    <div class = "container">
        <h1 class = "text-center">Argh! Welcome Pirate!</h1>
        <p>
            The Pirate Party is a technology-oriented political society, driven by the belief that civil liberties and personal freedoms should take precedence over private and corporate interests. We embrace the ideals of free culture and unrestricted access to information. The society strives to preserve personal privacy and oppose censorship and surveillance. We manage the Trinity VPN, which helps students overcome internet censorship. The Pirate Party also organises regular Hackathons, <a href="https://ctf.pirates.ie">CTFs (Capture the Flag)</a>, and seminars on Ethical Hacking, Privacy, and Cyber-Security.
        </p>
        <hr />
        <p>
            Just looking for a list of links to our various pages and socials?
            <a href="/links">Here!</a>
        </p>
        <hr />
        <p>
            We run the Trinity VPN, of which there are many <b>benefits:</b>
        </p>
        <ul>
            <li>
                <b>Encrypt</b> your traffic and enhance your <b>anonymity</b>
            </li>
            <li>
                Access services blocked by your internet service provider (e.g. <b>BitTorrent</b>, <b>online gaming</b>)
            </li>
            <li>
                <b>No</b> throttling, <b>no</b> bandwidth caps, <b>no</b> logs
            </li>
            <li>
                Access <b>geoblocked</b> content from anywhere
            </li>
        </ul>
        <hr />
        <h4>
            <b>I haven't signed up yet, can I join?</b>
        </h4>
        <p>
            You're in luck, landlubber! You can get on board right here, right now and pay by credit/debit card to get instant access to the VPN. Make sure you have valid @tcd.ie email address!
        </p>
        <a role="button"
           class="btn btn-primary"
           href="{{ url_for("user.register") }}">Register</a>
        <br />
        <br />
        <hr />
        <!--
<h4><b>I signed up at the stand, what now?</b></h4>

<p>
You should have received an email with a link allowing you to set your password. If you didn't get an email, please click this link and enter your email address again:
</p>

<a role="button" class="btn btn-info" href="{{url_for('user.forgot_password')}}">Reset Password</a>
<br />
<br />
If you still do not receive an email, please email info@pirates.ie.
<br />
<br />
<hr />
-->
        <h4>
            <b>I clicked the link in the email but I got a "reset password token has expired" message. Help?</b>
        </h4>
        <p>
            Please initiate another password reset by clicking the button below and entering the email address you signed up with:
        </p>
        <a role="button"
           class="btn btn-info"
           href="{{ url_for("user.forgot_password") }}">Reset Password</a>
        {% if has_been_redirected %}
            <br />
            <br />
            <hr />
            <h4>
                <b>Wait what does any of this have to do with Irish pirate radio?</b>
            </h4>
            <p>
                It appears you are in fact lost, perhaps you were looking for <a href="https://pirate.ie/archive/">these pirates?</a>
            </p>
        {% endif %}
        <br />
    </div>
{% endblock %}
