{% extends "common/page_base.html" %}  {# common/page_base.html extends layout.html #}
{% block content %}
    <div class = "container">
        <h1 class = "text-center">Argh! Welcome Pirate!</h1>
        <p>Here be links to our various services, chats and more!</p>
        <ul>
            <li>
                <a href="/">Signup!</a>
            </li>
            <li>
                <a href="/static/docs/Constitution_2025.pdf">New Constitution!</a>
            </li>
            <li>
                <a href="https://docs.google.com/presentation/d/1j_1cWSode0k2__o09fqHeFpWwIzqVEVRq38HEKYiXbU/edit?usp=drive_link">Latex Slides!</a>
            </li>
            <li>
                <a href="https://ctf.pirates.ie">Capture the Flags!</a>
            </li>
            <li>
                <a href="https://www.instagram.com/dupirateparty">Instagram!</a>
            </li>
        </ul>
        
    </div>
{% endblock %}
