{% extends "common/page_base.html" %}  {# common/page_base.html extends layout.html #}
{% block content %}
    <h1>Are you sure?</h1>
    <p>Marking all users as unpaid should only be performed once a year before fresher's week.</p>
    <a class="btn btn-danger btn-primary"
       href="{{ url_for('mark_all_unpaid', confirm='true') }}">Yes I'm perfectly sure I want to do this.</a>
{% endblock %}
