{% extends "common/page_base.html" %}  {# common/page_base.html extends layout.html #}
{% block content %}
    <div class = "text-center">
        <b>Membership {{ pricing.membership_period }}:</b>
        {% if current_user.fully_paid %}
            <span class="text-success">Paid</span>
            <p>
                Thank you, you have paid for your membership for {{ pricing.membership_period }}. You can now proceed to <a href="{{ url_for("user_page") }}">set up your VPN account</a>
            </p>
        {% else %}
            <span class="text-danger">Unpaid</span>
            <p>You must pay your membership fee before you can access the VPN:</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="well">
                        <center>
                            <h3>Pay online</h3>
                            <h3>€{{ pricing.card }}*</h3>
                            <small>(*includes card processing fee. Payments processed by <a href="https://stripe.com">Stripe</a>. We don't get access to your credit card info.)</small>
                            <br />
                            <br />
                            <p>You will receive instant access to the VPN.</p>
                            <!-- Load Stripe.js on your website. -->
                            <script src="https://js.stripe.com/v3"></script>
                            <!-- Create a button that your customers click to complete their purchase. Customize the styling to suit your branding. -->
                            <button style="background-color:#6772E5;
                                           color:#FFF;
                                           padding:8px 12px;
                                           border:0;
                                           border-radius:4px;
                                           font-size:1em"
                                    id="checkout-button-{{ membership_product_sku }}"
                                    role="link">Pay by Card</button>
                            <div id="error-message"></div>
                            <script>
            var stripe = Stripe('{{stripe_p_key}}');

            var checkoutButton = document.getElementById('checkout-button-{{membership_product_sku}}');
            checkoutButton.addEventListener('click', function () {
              // When the customer clicks on the button, redirect
              // them to Checkout.
              stripe.redirectToCheckout({
                lineItems: [{price: '{{membership_product_sku}}', quantity: 1}],
                mode: 'payment',

                // Do not rely on the redirect to the successUrl for fulfilling
                // purchases, customers may not always reach the success_url after
                // a successful payment.
                // Instead use one of the strategies described in
                // https://stripe.com/docs/payments/checkout/fulfillment
                successUrl: window.location.href + 'payment/success',
                cancelUrl: window.location.href + 'payment/canceled',
                customerEmail: '{{current_user.email}}',
              })
              .then(function (result) {
                if (result.error) {
                  // If `redirectToCheckout` fails due to a browser or network
                  // error, display the localized error message to your customer.
                  var displayError = document.getElementById('error-message');
                  displayError.textContent = result.error.message;
                }
              });
            });
                            </script>
                        </center>
                    </div>
                </div>
                <!-- WARNING: REVERT ONCE THE PANDEMIC IS OVER. IF EVER!
		To whoever is reverting this message: we hope you are enjoying being able to go outside :P
    <div class="col-md-2">
      <center><h2>OR</h2></center>
    </div>
    <div class="col-md-5">
      <div class="well">
        <center>
          <h3>Pay in person</h3>
          <h3>€{{ pricing.cash }}</h3>
          <p>You can pay your membership at any committee meeting, {{ pricing.meeting_time }}.</p>
          <p>Alternatively email info@pirates.ie and we'll arrange a time that suits you!</p>
		  <p>When you have paid your fee you will get instant access to the VPN via this account.</p>
        </center>
      </div>
    </div>
-->
            </div>
        </div>
    {% endif %}
{% endblock %}
