{% extends "common/admin_base.html" %}  {# common/page_base.html extends layout.html #}
{% block content %}
    <h1>Admin page</h1>
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Email Confirmed at</th>
                <th>Fully Paid?</th>
                <th>Last Paid</th>
                <th>Last Payment Method</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ fd(user.email_confirmed_at) }}</td>
                    <td>{{ user.fully_paid }}</td>
                    <td>{{ fd(user.last_payment_date) }}</td>
                    <td>{{ user.last_payment_type }}</td>
                    <td>
                        <a href="{{ url_for('edit_user', user_id=user.id) }}">Edit</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
