{% extends "common/admin_base.html" %}  {# common/page_base.html extends layout.html #}
{% block content %}
    <h1>Modify Config</h1>
    <form action="" method="POST" class="form-inline">
        {{ form.hidden_tag() }}
        {% for config in configs %}
            <div class="form-group ">
                <label for="{{ config.key }}" class="control-label">{{ config.key }}</label>
                <input class="form-control mx-sm-3"
                       id="{{ config.key }}"
                       name="{{ config.key }}"
                       required
                       tabindex="240"
                       type="text"
                       value="{{ config.value }}">
            </div>
            <br />
        {% endfor %}
        <button type="submit" class="form-control btn btn-default btn-primary">Save</button>
    </form>
{% endblock %}
