{% extends "common/admin_base.html" %}  {# common/page_base.html extends layout.html #}
{% block content %}
    <h1>Offer list</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Created at</th>
                <th>Name</th>
                <th>Resumable?</th>
                <th>Total length (days)</th>
                <th>Not valid before</th>
                <th>Not valid after</th>
            </tr>
        </thead>
        <tbody>
            {% for offer in offers %}
                <tr>
                    <td>{{ offer.id }}</td>
                    <td>{{ offer.creation_time }}</td>
                    <td>{{ offer.name }}</td>
                    <td>{{ offer.resumable }}</td>
                    <td>{{ offer.total_days }}</td>
                    <td>{{ offer.not_before }}</td>
                    <td>{{ offer.not_after }}</td>
                    <td>
                        <a href="{{ url_for('edit_offer', offer_id=offer.id) }}">Edit</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
