{% extends "common/page_base.html" %}  {# common/page_base.html extends layout.html #}
{% block content %}
    <h1>VPN Setup</h1>
    <p>Ahoy, mateys! We used to offer vpns, but due to recent copyright takedown requests we do not offer any vpns at the moment.</p>
{% endblock %}
