{% extends "common/page_base.html" %}  {# common/page_base.html extends layout.html #}
{% block content %}
    <h1>User Profile</h1>
    <p>
        <i>Want to change your email or close your account? Please contact us directly at <a href="mailto:info@pirates.ie">info@pirates.ie</a>.</i>
    </p>
    <p>
        <a href="{{ url_for("user.change_password") }}">Change password</a>
    </p>
    <p>
        <a href="{{ url_for("export_user_data") }}">Download user data.</a>
    </p>
    {% from "common/form_macros.html" import render_field, render_submit_field %}
    <div class = "container">
        <form action="" method="POST" class="form" role="form">
            <div class="row">
                <div class="col-sm-6 col-md-5 col-lg-4">
                    {{ form.hidden_tag() }}
                    {{ render_field(form.first_name, tabindex=240) }}
                    {{ render_field(form.last_name, tabindex=250) }}
                    {{ render_submit_field(form.submit, tabindex=280) }}
                </div>
            </div>
        </form>
    </div>
{% endblock %}
