{% extends "layout.html" %}
{% block additional_links %}
    <div class="with-margins">
        <a href="{{ url_for("admin_page") }}">Member List</a>
        &nbsp; | &nbsp; <a href="{{ url_for("add_or_renew_user") }}">Add/Renew User</a>
        <!-- &nbsp; | &nbsp; <a href="{{ url_for('offer_list') }}">Offer List</a>-->
        <!--&nbsp; | &nbsp; <a href="{{ url_for('create_new_offer') }}">New Offer</a>-->
        &nbsp; | &nbsp; <a href="{{ url_for("bulk_operations") }}">Bulk Operations</a>
        &nbsp; | &nbsp; <a href="{{ url_for("myemma_update_users") }}">MyEmma Sync</a>
        &nbsp; | &nbsp; <a href="{{ url_for("modify_config") }}">Modify Config</a>
    </div>
    <hr class="no-margins" />
{% endblock %}
