/**** element styles ****/
hr {
  border-color: #cccccc;
  margin: 0px;
}

/**** header, main and footer divs ****/
.header-title {
  font-size: 30px;
}

/**** class-based style modifiers ****/

.no-margins {
  margin: 0px;
}

.with-margins {
  margin: 10px;
}

.col-centered {
  float: none;
  margin: 0 auto;
}
