{% extends 'flask_user/emails/base_message.html' %}
{% block message %}
    <p>Welcome to Pirates!</p>
    <p>
        Please click the link below to set the password for your Pirates VPN account:
        <br />
        &nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ reset_password_link }}">Set Password</a>.
    </p>
    <p>If you did not initiate this password reset, you may safely ignore this email.</p>
{% endblock %}
