<!DOCTYPE html>
<html lang="en">
    <link rel="shortcut icon"
          href="{{ url_for('static', filename='favicon.ico') }}">
    <head>
        <!-- These 3 meta tags MUST come first -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- These 3 meta tags MUST come first -->
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>{{ user_manager.USER_APP_NAME }}</title>
        {% endif %}
        <!-- Bootstrap CSS and JS -->
        <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}"
              rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="{{ url_for('static', filename='bootstrap/js/html5shiv.min.js') }}"></script>
            <script src="{{ url_for('static', filename='bootstrap/js/respond.min.js') }}"></script>
<![endif]-->
        <!-- Application specific CSS-->
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/app.css') }}">
    </head>
    <body>
        {% block body %}
            <!-- Application specific HTML -->
            <div id="main-div" class="no-margins">
                {% block pre_content %}{% endblock %}
                <div class = "container-fluid text-justify">
                    {% block content %}{% endblock %}
                </div>
                {% block post_content %}{% endblock %}
            </div>
            <br />
        {% endblock %}
    </body>
</html>
