<!DOCTYPE html>
<html lang="en">
    <link rel="shortcut icon"
          href="{{ url_for('static', filename='favicon.ico') }}">
    <head>
        <!-- These 3 meta tags MUST come first -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- These 3 meta tags MUST come first -->
        {% if title %}
            <title>{{ user_manager.USER_APP_NAME }} - {{ title }}</title>
        {% else %}
            <title>{{ user_manager.USER_APP_NAME }}</title>
        {% endif %}
        <!-- Bootstrap CSS and JS -->
        <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}"
              rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="{{ url_for('static', filename='bootstrap/js/html5shiv.min.js') }}"></script>
            <script src="{{ url_for('static', filename='bootstrap/js/respond.min.js') }}"></script>
<![endif]-->
        <!-- Application specific CSS-->
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/app.css') }}">
    </head>
    <body>
        {% block body %}
            <!-- Application specific HTML -->
            <div id="header-div" class="clearfix with-margins">
                <div class="pull-left">
                    <a href="{{ url_for("home_page") }}"><span class="header-title">
                        <img src="/static/img/pirateslogo.jpg" height="40px">
                    DU Pirates</span></a>
                </div>
                <div class="pull-right">
                    {% if current_user.is_authenticated %}
                        <a href="{{ url_for("user_profile_page") }}">{{ current_user.first_name or current_user.user_auth.username }}</a>
                        &nbsp; | &nbsp;
                        <a href="{{ url_for("user.logout") }}">Sign out</a>
                    {% else %}
                        <a href="{{ url_for("user.login") }}">Sign in / Register</a>
                    {% endif %}
                </div>
            </div>
            <div class="with-margins">
                {% if current_user.is_authenticated %}
                    &nbsp; <a href="{{ url_for("user_page") }}">VPN Setup</a>
                    &nbsp; | &nbsp; <a href="{{ url_for("membership_status") }}">Membership Status</a>
                {% endif %}
                {% if current_user and current_user.is_admin %}
                    &nbsp; | &nbsp; <a href="{{ url_for("admin_page") }}">Admin Area (restricted)</a>
                {% endif %}
            </div>
            <hr class="no-margins" />
            {% block additional_links %}{% endblock %}
            <div id="main-div" class="with-margins">
                {% block pre_content %}{% endblock %}
                {# One-time system messages called Flash messages #}
                {% block flash_messages %}
                    {%- with messages = get_flashed_messages(with_categories=true) -%}
                        {% if messages %}
                            {% for category, message in messages %}
                                {% if category=='error' %}
                                    {% set category = "danger" %}
                                {% endif %}
                                <div class="alert alert-{{ category }}">{{ message|safe }}</div>
                            {% endfor %}
                        {% endif %}
                    {%- endwith %}
                {% endblock %}
                <div class = "container-fluid text-justify">
                    {% block content %}{% endblock %}
                </div>
                {% block post_content %}{% endblock %}
            </div>
            <br />
            <hr class="no-margins" />
            <div id="footer-div" class="clearfix with-margins">
                <div class="pull-left">
                    Contact us: <a href="mailto:info@pirates.ie">info@pirates.ie</a>
                </div>
                <div class="pull-right">
                    <a href="{{ url_for("privacy_policy") }}">Privacy Policy</a>
                </div>
                <br>
                <div class="pull-left">
                    Our social media: <a href="https://www.instagram.com/dupirateparty/">Instagram</a>,
                </div>
                <div class="pull-right">&emsp;{{ user_manager.USER_APP_NAME }} v2.0</div>
            </div>
            <!-- Bootstrap JS -->
            <script src="{{ url_for('static', filename='bootstrap/js/jquery.min.js') }}"></script>
            <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
